@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  margin:0;
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  background-color:rgba(70,80,10,0.8);
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rock Salt';
}
#info-controls-container{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

#info{
  background:linear-gradient(rgba(100,50,10,0.5),rgba(70,80,10,0.5));
  color:white;
  padding:35px;
  border: 20px inset violet;
  border-radius:20px;
}
#options-info-container{
  width:98%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#info-game{
  width:350px;
  background:rgba(255,255,255,0.6);
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  font-weight:bold;
  border: 20px inset violet;
  border-radius:20px;
  padding:20px;
}
#options{
  width:350px;
  background:rgba(255,255,255,0.6);
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  padding:20px;
  border: 20px inset violet;
  border-radius:20px;
}
#table-container{ 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-end;
 
}
table{
  width:1000px;
  background:rgba(255,255,255,0.6);
  border-radius:20px;
  font-family: Arial;
  border: 20px inset violet;
  
}
td{
  width:40px;
  height:40px;
  border:1px solid rgba(0,0,0,0.02);
  font-size:20px;
  position:relative;
}

.snake{
  width:95%;
  height:95%;
  background:rgba(70,80,10,1);;
  border: 1px solid green;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

#controls{
  width:40%;
  min-width:400px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

button{
  padding:3px;
  background-color:violet;
  border:none;
  border-radius:10px;
  color:white;
  width:120px;
  height:60px;
  font-size:20px;
  cursor:pointer;
}
button:hover{
  background:rgba(100,50,10,0.8);
}

#lose-div{
  width:1000px;
  display:none;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:rgba(100,50,10,1);
  font-family:Helvetica;
  font-size:80px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}


#skull{
  width:200px;
}
#footer{
  width:50%;
  color:grey;
  font-family:Helvetica; 
}